
@{
    ViewBag.Title = "Inicio";
}

<header class="cabecera">
    <div class="textos-cabecera">
        <h1>365 Beauty Salon</h1>
        <p>Comprometidos a cumplir tus necesidades de belleza</p>
        <a href="/BeautySalon/Cita">Reserva tu Cita ya</a>

    </div>

    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>

</header>

<section class="wave-contenedor website">

    <img src="~/Imagenes/Landing 1.jpg" alt="" />
    <div class="contenedor-textos-main">
        <h2 class="titulo left">Sobre Nosotros</h2>
        <p class="parrafo">365 es una Empresa con una visión y misión clara, con el compromiso principal de brindar servicio y atención de calidad, con un equipo de trabajo comprometido y vocación.</p>


    </div>

</section>

<section class="cards contenedor">
    <h2 class="titulo">Nuestor Servicios</h2>
    espacio del carrusel
</section>

<a href="/BeautySalon/Cita" class="btn-flotante">Agendar Cita</a>

