
@{
    ViewBag.Title = "Inicio";
    List<Proyecto_Web_Ingenieria_de_Software.Models.Services> services = ViewBag.Servicios;
}

<header class="cabecera">
    <div class="textos-cabecera">
        <h1>365 Beauty Salon</h1>
        <p>Comprometidos a cumplir tus necesidades de belleza</p>
        <a href="/BeautySalon/Cita">Reserva tu Cita ya</a>

    </div>

    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>

</header>

<section class="wave-contenedor website">

    <img src="~/Imagenes/Landing 1.jpg" alt="" />
    <div class="contenedor-textos-main">
        <h2 class="titulo left">Sobre Nosotros</h2>
        <p class="parrafo">365 es una Empresa con una visión y misión clara, con el compromiso principal de brindar servicio y atención de calidad, con un equipo de trabajo comprometido y vocación.</p>


    </div>

</section>

<section class="cards contenedor">
    <h2 class="titulo">Nuestros Servicios</h2>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            @foreach (var s in services)
            {
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@s.ServiceName</h5>
                        <p class="card-text">@s.Description</p>
                        <a href="/BeautySalon/Cita" class="btn btn-primary">Solicitar Ahora</a>
                    </div>
                </div>
            </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<a href="/BeautySalon/Cita" class="btn-flotante">Agendar Cita</a>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="~/Scripts/carusel.js"></script>