
.backHome {
    padding: 30px;
    border-radius: 50px;
    border: 1px solid #7a1465;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
}

.homeCaption{
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:goldenrod;
}

.homeBottons {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: mistyrose;
}

.homeOptions{
    background-color: black;
    color:goldenrod;
}

.venta, .productos{
    display:inline-block;
    width:50%;
}

.iconHome {
    font-size: 2rem;
    color: goldenrod;
}