@{
    ViewBag.Title = "CrearVenta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="homeCaption">Men&uacute; de Ventas</h1>

<div class="container backHome">

    <div class="row" style=" padding-top:5px; padding-bottom: 5px;">
        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Crear Venta</h5>
                    <p class="card-text">Crear nueva Venta</p>
                    <a href="/Ventas/CrearVenta" class="btn homeOptions">Nueva Venta</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Facturar cita</h5>
                    <p class="card-text">Facturar cita</p>
                    <a href="/General" class="btn homeOptions">Facturar</a>
                </div>
            </div>
        </div>


    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Buscar una venta</h5>
                    <p class="card-text">Configure servicios</p>
                    <a href="/Servicios" class="btn homeOptions">Buscar venta</a>
                </div>
            </div>
        </div>
    </div>
</div>