@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container backHome">
    <h1 class="homeCaption">Men&uacute; Administrativo del Sistema</h1>
    <hr />
    <div class="row" style=" padding-top:5px; padding-bottom: 5px;">
        <!--Ventas-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-solid fa-sack-dollar iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Ventas</h5></div>
                    </di>
                    <p class="card-text">Administracíon de las ventas y facturación.</p>
                    <a href="/Ventas" class="btn homeOptions">Ventas</a>
                </div>
            </div>
        </div>

        <!--Citas-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-solid fa-calendar-check iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Citas</h5></div>
                    </di>
                    <p class="card-text">Administrador de las citas pendientes.</p>
                    <a href="/Citas" class="btn homeOptions">Citas</a>
                </div>
            </div>
        </div>

        <!--Servicios-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-sliders iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Servicios</h5></div>
                    </di>
                    <p class="card-text">Configuración de servicios del negocio.</p>
                    <a href="/Servicios" class="btn homeOptions">Servicios</a>
                </div>
            </div>
        </div>

        <!--Productos-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-brands fa-shopify iconHome"></i></i></div>
                        <div class="col"><h5 class="card-title">Productos</h5></div>
                    </di>
                    <p class="card-text">Administración del inventario de productos.</p>
                    <a href="/Productos" class="btn homeOptions">Productos</a>
                </div>
            </div>
        </div>

        <!--Reportes-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-file-excel iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Reportes</h5></div>
                    </di>
                    <p class="card-text">Genere reportes de negocio personalizados.</p>
                    <a href="/Reportes" class="btn homeOptions">Reportes</a>
                </div>
            </div>
        </div>

        <!--Horarios-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-solid fa-calendar-days iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Horarios</h5></div>
                    </di>
                    <p class="card-text">Configure el horario de atención y los dias feriados</p>
                    <a href="/Horario" class="btn homeOptions">Horarios</a>
                </div>
            </div>
        </div>

        <!--Usuarios-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-solid fa-users iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Usuarios</h5></div>
                    </di>
                    <p class="card-text">Administre los usuarios del sistema y sus permisos.</p>
                    <a href="/Usuarios" class="btn homeOptions">Usuarios</a>
                </div>
            </div>
        </div>

        <!--General-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-solid fa-gears iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Configuración general</h5></div>
                    </di>
                    <p class="card-text">Configure los datos generales del negocio.</p>
                    <a href="/General" class="btn homeOptions">Configuración general</a>
                </div>
            </div>
        </div>
    </div>
</div>