@{
    ViewBag.Title = "Inicio";
}

            <div class="d-flex justify-content-center contenidoHome" style="position: relative; width: auto; display: flex; justify-content: space-between; align-items: center; background-image: url(../Imagenes/backAgendarCita.jpg); background-color: rgba(0,0,0,0.1); ">
                <div class="textbox" style="position: relative; max-width =600px; background: rgba(34,34,34,0.75);">
                    <h2 style="color: #fff; font-size: 4em; line-height: 1.5em; font-weight: 900; text-transform: uppercase">365 Beuty Salon</h2>
                    <p style="color: #fff;">Reserva tu Cita con nosotros</p>
                    <a href="/Home/AgendarCita" style=" display: inline-block; margin-top: 20px; padding: 8px 8px; background: #fff; color: #111; border-radius: 40px; font-weight: 500; letter-spacing: 1px; text-decoration: none; text-transform: uppercase">Agendar Cita</a>
                </div>
                
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 400px; display: flex; padding-right: 20px; justify-content: flex-end; background: rgba(34,34,34,0.75); ">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Imagenes/Carusel 1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Imagenes/Carusel 2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Imagenes/Carusel 3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


