@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="homeCaption">Men&uacute; Administrativo del Sistema</h1>

<div class="container backHome">
    
    <div class="row" style=" padding-top:5px; padding-bottom: 5px;">
        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Administre usuarios del sistema</p>
                    <a href="/Usuarios" class="btn btn-primary">Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Par&aacute;metros del sistema</h5>
                    <p class="card-text">Configure par&aacute;metros generales </p>
                    <a href="/General" class="btn btn-primary">Par&aacute;metros</a>
                </div>
            </div>
        </div>

        
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Configuraci&oacute;n de servicios</h5>
                    <p class="card-text">Configure servicios</p>
                    <a href="/Servicios" class="btn btn-primary">Servicios</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Configuraci&oacute;n de productos</h5>
                    <p class="card-text">Configure productos</p>
                    <a href="/Productos" class="btn btn-primary">Servicios</a>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reportes</h5>
                    <p class="card-text">Generaci&oacute;n de reportes</p>
                    <a href="/Reportes" class="btn btn-primary">Reportes</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Citas</h5>
                    <p class="card-text">Cree nuevas citas</p>
                    <a href="/Administracion/Citas" class="btn btn-primary">Citas</a>
                </div>
            </div>
        </div>

    </div>

    
</div>