
@{
    ViewBag.Title = "ModuloHorarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Content/styleModuloUsuarios.css" />

<div class="container row">
    <div class="col-6 d-flex">
        <div class="horarioDiv">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr class="table-light">
                        <th scope="col">Día</th>
                        <th scope="col">Abre</th>
                        <th scope="col">Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Miercoles</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Sabado</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>08:00</td>
                        <td>18:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="b col-6 d-flex">
        mundo
    </div>
</div>

