
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-XztHfx+K16+8/02pd/5S5K5rzJL5jFW3n+4C4MeBhQXtPSOLJHZfoQXBHiLL+UDgjJLl1UIUEmH/JJ88+FeGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-ljJzLUmj2EwZlGNC8f7mdJbxvC+9lzFAyom0i3aWzKvNAPN/BQwHuNjk8Y7iJkKf+G9VcCEyRRGm7KuNNvHsCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Reportes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h2>Index</h2>

                            <div class="container">

                                <span>
                                    <a href="#">Reporte de ventas</a>
                                </span>

                                <span>
                                    <a href="#">Reporte de productos</a>
                                </span>

                                <span>
                                    <a href="#">Reporte de servicios</a>
                                </span>




                            </div>
