
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container backHome">
    <div class="row">
        <div class="col-9">
            <h1 class="t-stroke">Reportes</h1>
        </div>
    </div>
    <hr />
    <div class="row" style=" padding-top:5px; padding-bottom: 5px;">
        <!--Reporte 1-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-file-excel iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Reporte 1</h5></div>
                    </di>
                    <p class="card-text">Detalles</p>
                    <a href="" class="btn homeOptions">Generar</a>
                </div>
            </div>
        </div>

        <!--Reporte 2-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-file-excel iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Reporte 2</h5></div>
                    </di>
                    <p class="card-text">Detalles</p>
                    <a href="" class="btn homeOptions">Generar</a>
                </div>
            </div>
        </div>

        <!--Reporte 3-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-file-excel iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Reportes 3</h5></div>
                    </di>
                    <p class="card-text">Detalles</p>
                    <a href="" class="btn homeOptions">Generar</a>
                </div>
            </div>
        </div>

        <!--Reporte 4-->
        <div class="col mt-3">
            <div class="card homeBottons" style="width: 18rem;">
                <div class="card-body">
                    <di class="row">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-file-excel iconHome"></i></div>
                        <div class="col"><h5 class="card-title">Reporte 4</h5></div>
                    </di>
                    <p class="card-text">Detalles.</p>
                    <a href="" class="btn homeOptions">Generar</a>
                </div>
            </div>
        </div>
    </div>
</div>