
@{
    ViewBag.Title = "EditarUsuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Content/styleUsuarios.css" />

<div class="usuariosDiv mb-5">
    <div class="row">
        <div class="col-8">
            <h1 class="t-stroke">Agregar usuario</h1>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a href="/Configuracion/Usuarios">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">Nombre</label>
                <input class="form-control" type="text" name="firstName" />
            </div>
            <div class="col">
                <label class="form-label">Apellido</label>
                <input class="form-control" type="text" name="lastName" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label class="form-label">DNI</label>
                <input class="form-control" type="text" name="DNI" />
            </div>
            <div class="col">
                <label class="form-label">Telefono</label>
                <input class="form-control" type="tel" name="phone" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Rol</label>
                <input class="form-control" type="text" name="rol" />
            </div>

            <div class="col">
                <label class="form-label">Sexo</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" value="M">
                        <label class="form-check-label" for="inlineRadio1">Hombre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" value="F">
                        <label class="form-check-label" for="inlineRadio2">Mujer</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Usuario</label>
                <input class="form-control" type="text" name="username" />
            </div>
            <div class="col">
                <label class="form-label">Contraseña</label>
                <input class="form-control" type="password" name="password" />
            </div>
        </div>

        <div class="mt-2">
            <label class="form-label">Permisos</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mCitas" value="1">
                    <label class="form-check-label" for="inlineCheckbox1">Citas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mServicios" value="2">
                    <label class="form-check-label" for="inlineCheckbox2">Servicios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mVentas" value="3">
                    <label class="form-check-label" for="inlineCheckbox1">Ventas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mProductos" value="4">
                    <label class="form-check-label" for="inlineCheckbox2">Productos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mHorarios" value="5">
                    <label class="form-check-label" for="inlineCheckbox1">Horarios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mUsuarios" value="6">
                    <label class="form-check-label" for="inlineCheckbox2">Usuarios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mReportes" value="7">
                    <label class="form-check-label" for="inlineCheckbox1">Reportes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mConfig" value="8">
                    <label class="form-check-label" for="inlineCheckbox2">Configración General</label>
                </div>
            </div>
        </div>

        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Agregar</button>
        </div>
    </form>
</div>


